:root {
  --header-height: 50px;
}

.company-logo {
  display: block;
  width: 40px;
}


.page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 5px;
  background-color: var(--primary-color-reverse);
  /* color: var(--white); */
  font-size: var(--font-size-lg);
  font-weight: bolder;
  line-height: var(--header-height);
  
  @apply --z-index-high;
  @apply --box-shadow;

  & a:focus, & a:hover {
    opacity: 0.8
  }

  & .nav {
    height: 80%;
    margin: 5px 0;
  }

  & .nav-link {
    height: 100%;

    &.active {
      background-color: $nav-selected-bg-color;
    }
  }

  @media (--md) {
    /* ロゴ非表示 */
    .nav, .nav-link {
        display: none;
    }

    .menu-btn {
        display: block;
    }
  }
}

/* ヘッダーメニューボタン */
.menu-btn {
    cursor: pointer;
    padding: $header-height/4 10px;
    display: none;
    &:hover {
      background-color: darken($COLOR_HEADER_BG, 10%);
      border-radius: 50%;
    }

    img {
      height: 50%;
    }
}

.header-user {
  /* @extend .clickable; */
  display: flex;
  align-items: center;
  margin-left: auto;

  .person-icon {
    background-image: url(chrome-extension://odbcdehjjdjjnpenjbblpmkkibggblpe/chrome/assets/images/person.svg);
    height: 50%;
    width: 25px;
    display: block;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header-user, .nav-link {
  img {
    display: inline-block;
    height: $header-height;
    width: $header-height;
    padding: $header-height * 0.10 10px;
  }
}

.header-user .dropdown-menu {
  right: 0px;
}
