.tms-textfield {
  display: block;
  padding-top: calc(1.25 * var(--font-size-lg));
  margin-bottom: var(--form-group-margin-bottom);
  position: relative;

  & input, & textarea {
    display: block;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.26);
    outline: 0;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: var(--font-size-lg);
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    text-indent: 0.5em;
  }

  &> label {
    @apply --form-label;
  }

  & input[type="time"] {
    cursor: pointer;
  }

  &.tms-textfield--table input {
    border-bottom: none;
  }
}
