.tms-table {
  width: 100%;
  border-spacing: 0;

  & th {
    text-align: left;
    border-bottom: 2px solid var(--input-border-color);
  }

  & th, & td {
    display: table-cell;
    padding: var(--table-cell-padding);
    vertical-align: middle;
    line-height: 1.3;
    cursor: default;
  }

  & tbody > tr:hover {
    background-color: var(--color-table-hovered);
    transition: background-color .1s ease-in-out;
  }

  .table-borderd {
    & td {
      border-bottom: 1px solid var(--input-border-color);
    }
  }

  .table-striped {

  }
  
  
  
  .table--fixed {
    table-layout: fixed;
  }
  
}


