:root {
  --primary-color-heavy-light:  hsl(199, 91%, 64%);
  --primary-color-light:        hsl(201, 98%, 41%);
  --primary-color:              hsl(206, 100%, 31%);
  --primary-color-dark:         hsl(208, 80%, 27%);
  --primary-color-heavy-dark:   hsl(208, 80%, 27%);
  --white:                      rgb(253, 253, 253);
  --primary-color-reverse:      hsla(0, 0%, 99%, 1);
  --primary-color-reverse-dark: hsla(0, 0%, 99%, 0.5);
  --secondary-color:            #689F38;

  --danger-color:               #D32F2F;

  --hovered-bg-color:           rgba(0, 0, 0, 0.03);

  --text-main:                  hsl(0, 5%, 5%);
  --text-gray:                  hsla(0, 5%, 5%, .25);

  --font-size-xl: 21px;
  --font-size-lg: 17px;
  --font-size-md: 14px;
  --font-size-sm: 11px;
  --font-bold:    700;

  /* z-index */
  --z-index-high:                  { z-index: 999 };
  --z-index-mid:                   { z-index: 0 };
  --z-index-low:                   { z-index: -1 };
  --z-index-very-low:              { z-index: -10 };

  /* box-shadow */
  --box-shadow:                    { box-shadow: 0px 0px 5px #222222; }

  /* Form */

  /* --input-height:                  30px; */

  /* --form-group-margin-bottom:      20px; */

  /* Table */
  /* --color-table-hovered:           var(--hovered-bg-color);
  --table-cell-padding:            8px;
  --table-cell-padding-sm:         .3rem; */

  /* Button */
  /* --color-button-disabled:           var(--text-gray);
  --btn-height:                      36px;
  --btn-height-sm:                   var(--btn-height * 0.85);
  --btn-height-lg:                   var(--btn-height * 1.5);

  --btn-border-radius:               var(--border-radius-default);

  --btn-padding-horizontal:          26px;
  --btn-padding-horizontal-sm:       16px;
  --btn-padding-horizontal-lg:       var(--btn-padding-horizontal);

  --btn-font-size:                   14px;
  --btn-font-size-sm:                13px;
  --btn-font-size-lg:                var(--btn-font-size);

  --btn-fab-diameter:                55px;
  --btn-fab-diameter-sm:             44px;
  --btn-fab-diameter-lg:             75px;

  --btn-margin-vertical:             6px;
  --btn-spacing-horizontal:          8px;

  --btn-shadow-little:               0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
  --btn-shadow:                      0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); */

  /* Forms */
  /* --input-placeholder-color:     rgba(0, 0, 0, 0.09);
  --input-bg-color:              transparent;
  --input-bg-color-disabled:     transparent;
  --input-font-color:            var(--base-font-color);
  --input-font-size:             16px;
  --input-height:                32px;

  --input-border-color:          var(--input-placeholder-color);
  --input-border-color-focus:    var(--primary-color);

  --textarea-height:             64px;

  --label-font-size:             12px;
  --label-font-color:            rgba(0, 0, 0, 0.54);
  --label-margin-bottom:         3px;

  --form-legend-font-size:       var(--base-font-size * 1.5);
  --form-legend-margin-bottom:   var(--form-legend-font-size / 2);
  --form-legend-font-color:      var(--base-font-color);
  --form-group-margin-bottom:    20px; */

  /* Menu */
  /* --menu-disabled-color:         rgba(0, 0, 0, 0.12);
  --menu-hovered-bg-color:       var(--hovered-bg-color); */

  /* Nav Item */
  --nav-bg-color:                var(--primary-color);
  --nav-item-color:              var(--primary-color-reverse);
  --nav-item-color-disabled:     var(--primary-color-reverse-dark);
  --nav-item-bg-color-selected:  var(--primary-color-heavy-dark);
}
